<launch>
  <rosparam ns="models">
    ['gillette_shaving_gel', 'garnier_shampoo_bottle', 'all', 'rubbermaid_ice_guard_pitcher_blue']
  </rosparam>
  <group ns="model_uris">
    <param name="garnier_shampoo_bottle" value="package://object_models/models/cgdb/garnier_shampoo_bottle.vtk" />
    <param name="gillette_shaving_gel" value="package://object_models/models/cgdb/gillette_shaving_gel.vtk" />
    <param name="all" value="package://object_models/models/cgdb/all.vtk" />
    <param name="rubbermaid_ice_guard_pitcher_blue" value="package://object_models/models/cgdb/rubbermaid_ice_guard_pitcher_blue.vtk" />
  </group>
  <group ns="stl_uris">
    <param name="garnier_shampoo_bottle" value="package://object_models/models/cgdb/garnier_shampoo_bottle.vtk.stl" />
    <param name="gillette_shaving_gel" value="package://object_models/models/cgdb/gillette_shaving_gel.vtk.stl" />
    <param name="all" value="package://object_models/models/cgdb/all.vtk.stl" />
    <param name="rubbermaid_ice_guard_pitcher_blue" value="package://object_models/models/cgdb/rubbermaid_ice_guard_pitcher_blue.stl" />
  </group>
</launch>
